<div class="row">
	<div class="span6">
		<ul>
			<% @ratings.each do |rating| %>
				<li><%= rating.url %> <%= rating.rating_value_id %></li>
			<% end %>
		</ul>
	</div>
	<div class="span6"></div>
</div>