<div class="row diagram">
	<div class="span6 ups">
		<% @ups.each do |rating| %>
			<%= rating.result_content.html_safe %>
		<% end %>
	</div>
	<div class="span6 downs">
    <% @downs.each do |rating| %>
      <%= rating.result_content.html_safe %>
    <% end %>
  </div>
</div>