/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require 'font-awesome'
 *= require_self
 *= require_tree .
*/

@import "compass_twitter_bootstrap_awesome";
@import "compass_twitter_bootstrap_responsive";

/* Sassy CSS Variables */
$gradientStart: #FF0000;
$gradientEnd: #6F0404;
$offWhite: #F1F1F1;

#banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  border-bottom: 1px solid black;
  z-index: 1;
  color: #fff;

  /* Gradient */
  background: -webkit-gradient(linear, left top, left bottom, from($gradientStart), to($gradientEnd));
  background: -moz-linear-gradient(top, $gradientStart, $gradientEnd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000', endColorstr='#6F0404');  

  a {
    color: #fff;
  }

}

.left-logo {
    clear: none;
    float: left;
    margin-top: 22px;
    position: fixed;
}

#right-nav-menu-wrapper {
  // width: 100%;
  right: -18px;
  position: fixed;
  margin-top: 15px;
}

#right-nav-menu {
  // width: 200px;
  // margin: 0px auto;
  // position: relative;
  // left: 450px;
  float:right;
  margin-right: 20px;

  a {
    text-decoration: none;
    color: #7481cc;
    font-weight: bold;
  }

  a:hover {
    background-color: transparent;
    text-decoration: underline;
  }
}

.page {
  background: $offWhite;

  /* Font Formatting */
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-style: normal;
  font-variant: normal;
}

.middle-content {
  width: 600px;
  margin: 0px auto;
}

.centered {
  width: 100%;
}

#main {
  /* Give enough space above for the banner */
  margin-top: 53px;

  /* give enough space for the logo too! */
  margin-left: 180px;
}

#logo {
  z-index: -10;
  margin-left: auto;
  margin-right: auto;
}

.picture {
  margin-left: 230px;
  margin-bottom: -50px;
}

.index-page-search-bar {
  z-index: 10;
} 

.top-search-bar {
  // position: fixed;
  width: 100%;
  // top: 2px;
  // z-index: 5;
  clear: none;
  display: inline;
}

.search-wrapper {
  width: 250px;
  margin: 0px auto;
 .text-field {
    background: url(search-dark.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 15px Arial,Helvetica,Sans-serif;
    color: #000000;
    width: 250px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
  }    

  .button {
  }

}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
  visibility: hidden;
}
.logo {
  
  text {
    font-family:SchoolHouse Cursive B,Lucida Handwriting, Freestyle Script;
  }
}

// label {
//   float: left;
// }

// .projectname {
//   display: inline;

// }

.field.day {
  display:  inline;
  clear:  none;
  float: left;
  margin-right: 20px;
}

dt {
  font-weight: bold;
}

#admin {
  text-align: right;
}

.dashboard {
  padding-top: 3px;
  float: left;
  width: 33%;
  display: inline;
  clear: none;
  font-size: 14px;
}

table {
  border-spacing: 10px;
}

.meeting-name {
  text-decoration: underline;
}

div.main {
  min-height: 200px ! important;
}

.venn {
  // position: relative;
  // min-width: 500px;
  // margin-right: 140px;
  // margin: 0px auto;

  .result-title {
    font-size: 18px;
  }

  .diagram div {
    overflow: auto;
    max-height: 400px;
  }
  
  p {
    font-size: 14px;
  }

  .ups p {
    
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 2px;
    background-color:#8FFF92;

  }

  .downs p {
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 2px;
    background-color:#FF8F92;
  }
  
} /* End .venn */

.ask_audience {
  border: 1px solid #FF000000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  .left-logo {
    float: left;
    margin-top: 22px;
    clear: none;
    position: fixed;
  }
    
    p {
        border: 2px solid transparent;
        border-radius: 10px;
        padding: 2px;
    }

    // p.checked-result {
    //   background-color:#8FFF92;
    // }

    // p.deleted-result {
    //   // text-decoration:  line-through;
    //   background-color:#FF8F92;
    // }

    .controls {
      width: 28px;
      // height: 50px;
      float: right;
      clear: none;
      margin-top: 8px;
      text-align: center;

      .rtab-container {
        background: url("right_tab_only.png") no-repeat;
        background-size: 22px 65px;
        height: 76px;
        padding-top: 2px;
        // display: none;
        div {
          max-width: 18px;
          font-weight: bold;
        }
      }

      .rtab-image {
        // float: right;
        // top: -85px;
        z-index:-1;
        height:124%;
        position: relative;
      }

      .check-image {
        // position: absolute;
        // top: -70px;
        // left: 622px;
        cursor: pointer;
        z-index:3;
        margin-top: 6px;
      }

      .delete-image {
        // position:absolute;
        // top: 9px;
        // left: 622px;
        cursor: pointer;
        z-index:2;
        margin-top: 8px;
      }
    }

    .content {

      float:left;
      clear: none;
      margin-right: -28px;
      width: 100%;

      p {
        margin-right: 28px;
      }
     
      em {
        font-style: normal;
        font-weight: bold;
      }
      .result-title {
        font-size: 18px;
        a {
          color: #1F6BAE;
          text-decoration: none;
          &:visited {
            color: #6FBBFE;
          }
        }
        a:hover {
          background-color: transparent;
          text-decoration: underline;
        }
        
      }

      .result-uri {
        a {
          text-decoration: none;
          color: #BA763A;
        }
        a:hover {
          background-color: transparent;
          text-decoration: underline;
        }
      }

    } /* End .content */
  

  .result-div.active-result {
    p {
        border: 2px solid #FF0000;
    }
    .rtab-container {
      display: block;
    }
  }

  .ajax-load-wrapper {
    width: 100%;
    margin: 0px auto;
    text-align: center;

    .ajax-load {
      position: fixed;
      bottom: 0px;
    }
  }  
}

.audience {
  .result-div.venn-result {
    p {
        border: 2px solid #000000;
        min-height: 74px;
    }
    .rtab-container {
      display: block;
      background: url("black-tab.png") no-repeat;
      background-attachment: scroll;
      background-clip: border-box;
      background-color: transparent;
      background-origin: padding-box;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 22px 65px;
    }
  }  
  .green-bg {
    background-color: #8FFF92;
  }

  .red-bg {
    background-color: #FF8F92;
  }
}