<h1>Edit rating</h1>

<form id="edit-rating" name="rating">
  <div class="field">
    <label for="search_item"> search_item:</label>
    <input type="text" name="search_item" id="search_item" value="<%= search_item %>" >
  </div>

  <div class="field">
    <label for="url"> url:</label>
    <input type="text" name="url" id="url" value="<%= url %>" >
  </div>

  <div class="field">
    <label for="rating_value"> rating_value:</label>
    <input type="text" name="rating_value" id="rating_value" value="<%= rating_value %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Rating" />
  </div>

</form>

<a href="#/index">Back</a>