<h1>Listing ratings</h1>

<table id="ratings-table">
  <tr>
    <th>Search item</th>
    <th>Url</th>
    <th>Rating value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Rating</a>